h2 {
    color: orange;
    font-family: 'Trebuchet MS';
    text-align: center;
}

.kotak {
    padding: 50px;
    width: 100px;
    color: #fff;
    margin: 10px;
    background: orange;
}

#kotak {
    padding: 50px;
    color: #fff;
    background: blue;
    width: 400px;
}

body {
    background: url(./img/ree.png), url(img/field1.jpg);
    background-repeat: no-repeat, repeat;
    color: white;
}
