/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
}

.container {
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 8px;
    padding: 30px;
    margin: 15px 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 20px;
}

.input-field label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.input-field input[type="text"],
.input-field input[type="file"],
button {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 10px 15px;
    width: 100%;
}

.input-field input[type="text"]:focus,
.input-field input[type="file"]:focus {
    border-color: #4070f4;
    box-shadow: 0 0 5px rgba(64, 112, 244, 0.5);
}

button {
    background-color: #4070f4;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

button:hover {
    background-color: #265df2;  
}

button:active {
    transform: translateY(0);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 12px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td img {
    width: 100px; /* Adjust the size as needed */
    height: 120px; /* Adjust the size as needed */
    object-fit: cover; /* Maintain aspect ratio */
}
