/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0; /* Hapus margin pada body */
    padding: 0; /* Hapus padding pada body */
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Tetap di sini untuk tata letak */
    align-items: center; /* Pusatkan secara horizontal */
    justify-content: flex-start; /* Awal dari atas */
    background: #f4f4f4;
    width: auto;
}


.container {
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 8px;
    padding: 30px;
    margin: 15px 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header {
    width: 100%; /* Pastikan header memenuhi lebar halaman */
}

nav {
    width: 100%; /* Pastikan nav memenuhi lebar halaman */
    background-color: #029275; /* Warna latar belakang navbar */
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Pindahkan teks ke sebelah kanan */
    padding: 10px 20px; /* Beri sedikit padding untuk memperbaiki tampilan */
    margin-bottom: 20px; /* Hapus margin agar navbar tidak terpotong */
}

.navbar li {
    margin: 0 15px; /* Jarak antar item navbar */
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s; /* Tambahkan transisi untuk efek hover */
}

.navbar a:hover {
    color: #fffb00; /* Ubah warna saat hover */
}


.input-field {
    margin-bottom: 20px;
}

.input-field label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.input-field input[type="text"],
.input-field input[type="file"],
button {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 10px 15px;
    width: 100%;
}

.input-field input[type="text"]:focus,
.input-field input[type="file"]:focus {
    border-color: #4070f4;
    box-shadow: 0 0 5px rgba(64, 112, 244, 0.5);
}

button {
    background-color: #029275;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

button:hover {
    background-color: #007965;
}

button:active {
    transform: translateY(0);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td img {
    width: 100px; 
    height: 120px; 
    object-fit: cover; 
}

footer {
    text-align: center;
    padding: 25px 0;
    background: #029275;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
